<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>✅ MBB - MFA - Test </title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css?v=pAGv4ietcJNk_EwsQZ5BN9-K4MuNYS2a9wl4Jw-q9D0">
    <link rel="stylesheet" href="/TestMyMFA.styles.css?v=EuTDVJbE_KpR8HyOda9K9ozVVZLvYeiNOI3NkwvoGSA">
</head>
<body>
    <header b-yrwjy23d87="">
        <nav b-yrwjy23d87="" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div b-yrwjy23d87="" class="container">
                <a class="navbar-brand" href="/">TestMyMFA</a>
                <button b-yrwjy23d87="" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span b-yrwjy23d87="" class="navbar-toggler-icon"></span>
                </button>
                <div b-yrwjy23d87="" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul b-yrwjy23d87="" class="navbar-nav flex-grow-1">
                        <li b-yrwjy23d87="" class="nav-item">
                            <a b-yrwjy23d87="" class="nav-link text-dark" href="https://mysignins.microsoft.com/security-info" target="_blank">MFA Einstellungen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  </div>

        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>