@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Großartig!</h1>
    <p>Du konntest dich hier authentifizieren, d.h. deine Multi-Faktor Authentifizierung funktioniert. Danke dafür!</p>
    
    
    <font size="50">✅</font>
</div>
